html{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    height: 100%;
    position: relative;

}
.hidden{
    display: none !important;
}
body{
    height: 100%;
}
.main-screen{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Date-Time{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-shadow: 2px 0 1px rgb(0,0,0,0.1);
}
.move-up{
    justify-content: flex-start;
}
#clock{
    font-size: 70px;
    margin: 10px 0px;
}
#date{
    margin-bottom: 50px;
}
#login-form div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-box input:first-child{
    width: 300px;
    height: 50px;
    border-radius:20px;
    background-color: rgb(0,0,0,0.05);
    border: 1px solid white;
    text-align: center;
    margin: 10px 0px;
}
input::placeholder{
    color:white;
    font-weight: bold;
    font-size: 15px;
}
.login-box input:last-child{
    width: 100px;
    height: 30px;
    border-radius:20px;
    color: white;
    background-color: rgb(0,0,0,0.05);
    border: 1px solid white;
    text-align: center;
    margin-bottom: 30px;
}
#weather{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    right: 20px;
    top:20px;
    color: white;
    background-color: rgb(0,0,0,0.05);
}
#todo-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
#todo-form input:first-child{
    width: 500px;
    height: 40px;
    border-radius:20px;
    background-color: rgb(0,0,0,0.05);
    border: 2px solid white;
    text-align: center;
}
#todo-form input:last-child{
    width: 100px;
    height: 40px;
    border-radius:20px;
    background-color: rgb(0,0,0,0.05);
    border: 2px solid white;
    text-align: center;
    margin-left: 30px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
#todo-list{
    margin-top: 40px;
}
#todo-list button{
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(0,0,0,0.05);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
#todo-list li{
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8); /* 아래에만 구분선 */
    padding: 10px 5px;
    display: flex;
    align-items: center;
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-weight: bold;

}
.bg-style {
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    width: 100vw;    /* 화면 너비 100% */
    height: 100vh;   /* 화면 높이 100% */
    object-fit: cover; /* 비율 유지하며 꽉 채움 */
    z-index: -1;     /* 다른 글자들보다 뒤로 보내기 (중요!) */
    opacity: 0.5;
  }
